<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028357061619-cgkdqtlv7f3jtionlfdnhudpta8pus8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028357061619-cgkdqtlv7f3jtionlfdnhudpta8pus8k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028357061619-gjt65m8ug2a1v31rmc0766ejjjj1jnhn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_tBk57onxfokmmxoqkr4L3IqSrUgG80</string>
	<key>GCM_SENDER_ID</key>
	<string>1028357061619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iqra</string>
	<key>PROJECT_ID</key>
	<string>iqra-network-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>iqra-network-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028357061619:ios:51f050b7ea22b48778f086</string>
	<key>DATABASE_URL</key>
	<string>https://iqra-network-dev.firebaseio.com</string>
</dict>
</plist>